.menu {
}
.menu_item {
}
/* 展开菜单 */
.menu_item_more,
.menu_item_default {
	display: block;
	color: var(--siderFontColor);
	height: var(--siderItemHeight);
	padding-left: calc(var(--siderItemHeight) / 2);
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.menu_item_more::before,
.menu_item_default::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(var(--siderItemHeight) / 20);
	z-index: 555;
	background-color: transparent;
}
.menu_item_left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.menu_item_icon {
	font-size: 20px;
	padding-left: calc(var(--siderItemHeight) / 2);
}
.menu_item_title {
	margin-left: calc(var(--siderItemHeight) / 3);
}
.menu_item_arrow {
	float: right;
	margin-right: calc(var(--siderItemHeight) / 3);
	transition: all 0.1s ease-in;
}
/* 展开移入 */
.menu_item_more:hover,
.menu_item_default:hover {
	/* background-color: var(--siderHoverBgColor); */
	color: var(--siderHoverColor);
}
.menu_item_more:hover::before,
.menu_item_default:hover::before {
	background-color: var(--primary) !important;
}
/* 展开选择 */
.menu_item_open {
	background-color: var(--siderHoverBgColor);
	color: var(--primary);
}
.menu_item_open::before {
	/* background-color: var(--primary) !important; */
}
.menu_item_open .menu_item_arrow {
	transform: rotate(90deg);
}
.menu_item_open + ul {
	background-color: var(--siderHoverBgColor);
}
/* 选中 */
.menu_item_active {
	background-color: var(--siderActiveBgColor) !important;
	color: var(--siderActiveColor) !important;
}
/* 关闭 */
.menu_item_collapsed {
}
.menu_item_collapsed > span,
.menu_item_collapsed > a {
	width: var(--siderItemHeight);
	padding: 0 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
