.login_form_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form {
    background: rgba(255,255,255,.3);
    box-shadow: 0 0 20px 10px rgba(255,255,255,.1);
    border-radius: 10px;
    padding: 20px 20px;
}
.login_form_title{
    text-align: center;
    letter-spacing: 2px;
    color: #1890ff;
}
